*{
    font-family: "ADLaM Display", system-ui;
    margin: 0;
    padding: 0;
    border-radius: 25px;
    text-decoration: none;
    list-style-type: none;
    
    p{
        font-size: 21px;
    }
    
    h3{
        font: size 48px;
            font-weight: 500;
            font-style: normal;
    }
    
    h4{
        font-size: 31px;
            font-weight: 500;
            font-style: normal;
    }

    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    @media (max-width: 576px){
        h2{
            font-size: 30px;
        }
    
        h4{
            font-size: 27px;
                font-weight: 500;
                font-style: normal;
        }
    
        p{
            font-size: 17px;
        }
    
    }
    

}
