header{

    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    .navbar-brand{
        font-size: 50px;
        font-weight: 500;
        font-family: $tipografia;
        font-style: italic;
        padding: 20px;
        display: flex;
        justify-content: end;
        align-items: end;
        color: white;
        font-style: normal;
        @include media-query-mobile(){
            font-size: 25px;
        }
    }

    .mover-derecha {
        margin-left: auto;
    }
    
    .bk-blue{
        background-color: $color-primario;
    }

    @media (max-width: 576px){
        .navbar{
            position: relative;
        }
        .tit-log img{
            height: 70px;
        }
    }
}
